/*.btn-group
{
	margin-left: 30%;
	text-align: center;
}
.titulo
{
	padding-top: 5%;
	text-align: center;
	font-size: 64px;
	font-style: italic;
}
.container
{
	width: 90%;
}
.btn
{
	background-color: #000000;
	color: #FFFFFF
}
.content
{
	text-align: left;
}
.box
{
	margin-top: 10px;
	border: solid 1px;
	border-color: black;
	text-align: left;
	overflow: hidden;
	float: left;
}
.box2
{
	margin-top: 2%;
	border: solid 1px;
	border-color: black;
	text-align: left;
	width: 18%;
	margin: 1%;
}
.boxtxt
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	text-align: justify;
}
.boxtit
{
	font-weight: bold;
	font-size: 16px;
}
.boxtit2
{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	text-align: center;
}
.subtit
{
	font-style: oblique;
	font-size: 16px;
}
.subtit2
{
	font-style: oblique;
	font-size: 14px;
	text-align: center;
}
.img
{
	margin: 10px;
}

ul
{
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
li
{
	float: left;
}
li a
{
	display: block;
}
form
{
	text-align: center;
	margin: 10px;
}
*/

.btn
{
	color: white;
	background-color: black;
	margin: 5%;
}

.block
{
	width: 20%;
	display: inline-block;
}

ul
{
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.btn-group
{
	width: 60%;
}


.titulo
{
	text-align: center;
	font-size: 64px;
	font-style: italic;
	margin: 2%;
}
.titulo1
{
	font-size: 24px;
	font-weight: bold;
	padding-left: 10px;
	display: block;
}
.titulo2
{
	font-weight: bold;
	padding-left: 10px;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}

.box
{
	border: 1px;
	border-style: solid;
	border-color: black;
	width: 46%;
	display: inline-block;
	text-align: justify;
	margin: 1%;
	vertical-align:top;
}
.box1
{
	border: 1px;
	border-color:black;
	border-style: solid;
	width: 18%;
	display: inline-block;
	text-align: center;
	vertical-align:top;
	padding-bottom: 1%;
	margin: 0.5%;
}
.box2
{
	border: 1px;
	border-style: solid;
	border-color: black;
	width: 23%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding-bottom: 1%;
	margin : 0.5%;
}
.box3
{
	border: 1px;
	border-color: black;
	border-style: solid;
	width: 98%;
	display: inline-block;
	text-align: justify;
	padding: 1%;
}
.box4
{
	width: 20%;
	text-align: right;
	padding: 1%;
	float: right;
}

.img1
{
	width: 20%;
	float: left;
	margin: 10px;
}
.img2
{
	float: right;
	width: 40%;
	margin: 10px;
}

.txt1
{
	margin: 10px;
}

.tit
{
	font-weight: bold;
	font-size: 16px;
	
	text-decoration: none;
	color: black;
}
.subtit
{
	font-style: oblique;
	text-decoration: none;
	color: black;
}
.dropbtn
{
	color: white;
	background-color: black;
	padding: 8px;
	display: none;
}
.dropdown
{
	position: relative;
	text-align: center;
}
.dropdown-content
{
	display: inline-block;
	background-color: rgb(73, 73, 73);
	min-width: 20%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: justify;
}
.dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
  }
.dropdown:hover .dropdown-content
{
	display: inline-block;
}

@media screen and (max-width: 560px) {
	.dropbtn
	{
		display: inline-block;
	}
	.dropdown
	{
		position: relative;
		display: inline-block;
	}
	.dropdown-content
	{
		display: none;
		position: absolute;
	}
	.btn-group
	{
		display: inline-block;
		width: 100%;
	}
	.block
	{
		display: block;
	}
	.btn
	{
		display: inline-block;
		width: 90%;
	}
	.box{
      display: inline-block;
      width: 90%;
    }
	.box1
	{
		width: 80%;
		display: inline-block;
	}
	.box2
	{
		width: 90%;
		display: inline-block;
	}
	.box4
	{
		width: 90%;
	}
	.img1
	{
		float: none;
		width: 90%;
		margin: 5%;
		text-align: center;
	}
}